
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
body{
    background-color: #F5F8FF;
    margin: 0 0;
}

header{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 1140px 698px;
}
.btn-primary{
    border: none;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 36px 12px 36px;
}
/* banner styles */

.banner-content{
    padding: 200px 20px;
    text-align: center;
}
.banner-description{
    color: #252432;
    font-size: 65px;
    font-family: Raleway;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px auto;
    margin: 0px 150px;

}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-family: Inter;
    font-weight: 900;
    line-height: 51px;
    word-wrap: break-word
}

/* action section style */
.action-section{
    margin: 141px 159px;
}

.action-title{
    color: #252432;
    font-size: 42px;
    font-family: Raleway;
    font-weight: 700;
    margin-bottom: 23px;
    word-wrap: break-word
}

.action-description{
    color: rgba(37, 36, 50, 0.50);
    font-size: 24px;
    font-family: Raleway;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 23px;
    word-wrap: break-word;
}

.action-section{
    display: flex;
    justify-content: space-between;
}

.action-image{
    border-radius: 48px;
}

/* productive user section */
.productive-parent{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.productive-user-section{
    width: 100%;
    position: relative;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 80px;
    box-sizing: border-box;
    text-align: center;
    font-size: 38px;
    color: #252432;
    font-family: Raleway;
    margin: 141px 159px;
}
.productive-user-title{
    padding: 50px;
    text-align: center;
    color: #252432;
    font-size: 38px;
    font-family: Raleway;
    font-weight: 700;
    word-wrap: break-word
}
.productive-user-container{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 158px;
    text-align: left;
    font-size: 80px;
    color: #4e47ff;
    font-family: Inter;
}

.productive-column-title{
    position: relative;
    color: #4E47FF;
    font-size: 80px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
}

.productive-sub-title{
    position: relative;
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

/* Users’ Feedback Section Styles */
.user-feedback-title{
    width: 100%;
    position: relative;
    font-size: 42px;
    display: inline-block;
    font-family: Raleway;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.card-container{
    display: flex;
    gap: 50px;
    flex-wrap:wrap;
    justify-content: center;
    margin: 141px 159px;
}

.card{
    width: 300px;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    background-color: white;
}

.user-avatar{
    display: flex;
    gap: 6px;
}

.avatar-photo{
    border-radius: 50%;
}

.user-name-date{
    gap:0px
}
/* Contact Styles */

.contact-column{
    display: flex;
    gap: 115px;
    justify-content: space-between;
    width: 50%;
    margin: 150px;
}

.form-text{
    font-weight: 500;
    font-family: Inter;
    color: #000;
    text-align: left;   
}
.section-title{
    width: 528px;
    position: relative;
    font-size: 97px;
    line-height: 120%;
    display: inline-block;
    font-family: Raleway;
    color: #000;
    text-align: left;
}
footer{
    margin: 104px 455px 103px 454px;
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

textarea{
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #d6dded;
    box-sizing: border-box;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 32px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}


footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

/* footer styles */
.footer-title{
    position: relative;
    font-size: 100px;
    font-weight: 900;
    font-family: Inter;
    color: #4e47ff;
    text-align: center;
}

.footer-description{
    width: 531px;
    position: relative;
    font-size: 16px;
    line-height: 150%;
    font-family: Inter;
    color: #8987a1;
    text-align: center;
}

.footer-nav-option{
    width: 45px;
    position: relative;
    font-size: 16px;
    line-height: 150%;
    font-family: Inter;
    color: #8987a1;
    text-align: left;
    display: inline-block;
}

li a{
    text-decoration: none;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li{
    list-style: none;
    margin: 48px;
}

